input {
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    background: whitesmoke;
    border: #3b3f49 solid 2px;
    outline: none;
    width: 80%;
}

input[type=date] {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-weight: bold;
}